* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

  :root {
    --dimmed_color: rgba(0, 0, 0, 0.5);
    --grey: #4E4A59;
    --accent_green: #29BF12;
  }

  body {
    background-color: var(--dimmed_color);
  }

  .topContentHolder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centeredDiv {
    animation: fade_in 1s, slide_down 1.2s ease;
    border-radius: 25px;
    border: 2px solid #29BF12;
    height: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .wrapper {   
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
  }

  .exampleImages {
    display: flex;
    justify-content: space-evenly;

  }

  img {
    object-fit: contain;
}

  .choiceButtons {
    width: 100%;
    height: 100%;
    display: flex;

  }

  .shuffleChoice {
    width: 100%;
    border-radius: 25px;

  }

  .shuffleChoice:hover {
    cursor: pointer;
    background-color: #cccccc
  }

  @keyframes slide_down{
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translate(0);
    }
  }

  @keyframes fade_in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }