* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

:root {
  --dimmed_color: rgba(0, 0, 0, 0.5);
  --blue: #AAC8F3;
  --accent_green: #29BF12;
  --drop_shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body {
  background-color: var(--blue);
}

.topContentHolder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredDiv {
  animation: fade_in 1s, slide_down 1.2s ease;
  border-radius: 25px;
  /* border: 2px solid #29BF12; */
  height: 75%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--drop_shadow);
  overflow: hidden;
}

.wrapper {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.exampleImages {
  display: flex;
  justify-content: space-evenly;

}

img {
  object-fit: contain;
}

.choiceButtons {
  width: 100%;
  height: 100%;
  display: flex;

}

.choiceButtons button:hover {
  transform: scale(1.05);
  box-shadow: var(--drop_shadow);
}

h3 {
  margin: 0, 0, 1%, 0;
}

.shuffleChoice {
  width: 100%;
  border-radius: 25px;
  border-width: 0px;


}

.textHolder {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}

.text {
  margin: 1%;
}

#inputHolder {
  margin-bottom: 1%;
}

#videoURL {
  width: 34.25em;
}

.textHolder h3 {
  text-align: center;
}

.shuffleChoice:hover {
  cursor: pointer;
  background-color: #cccccc
}

#playlist {
  height: 100%;
  /* width: 35%; */
  margin: 18px;
  overflow:scroll
}

iframe {
  border-radius: 5px;
}

.playlistItem {
  height: 10%;
  /* width: 30%; */
  display: flex;
  margin-left: 0.25vw;
  border-radius: 5px;
}

.playlistItem:hover {
  cursor: pointer;
  background-color: #cccccc;
}

#titleAuthorContainer {
  display: flex;
  flex-wrap: wrap;
}

#thumbnailContainer {
  /* height: 200px; Set the desired height */
  /* width: 100px; */
  /* Set the desired width */
  /* border-radius: 50%; */
  overflow: hidden;
  /* Clip the image to the container's rounded shape */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #f0f0f0; Optional: Background color for the container */
}

.imageSizing {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* bootstrap style slight override */
.input-group>.input-group-append:not(:last-child)>.btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


#videoPlayer {
  width: 60vw;
  margin: 1%;
}

#titleContainer {
  width: 100%;
}

.authorContainer {
  width: 100%;
}

.titleInfo {
  font-size: 20px;
}

.authorInfo {
  font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@keyframes slide_down {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* LOADING ICON CSS */

.lds-ellipsis {
  visibility: hidden;
  display: flex;
  position: relative;
  width: 80px;
  height: 45px;
}

.lds-ellipsis div {
  position: absolute;
  top: 17px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}